
 <!-- Logo Section -->
<div class="fixed top-0 min-w-full max-h-40 xl:max-h-60 xl:max-w-60 bg-[#FFFFFF] z-20">
  <div class="flex min-w-full xl:mb-32 xl:mt-5 items-center mt-4 bg-[#FFFFFF]">
    <!--  Allstar Logo -->
    <img class="z-10 top-0 min-w-44 xl:max-h-60 max-w-44 min-h-32 max-h-32 md:max-w-full md:max-h-44" src="./assets/allstar.jpg" alt="Allstar Logo">
    <!--Red Line-->
    <div class="z-50 h-1 md:h-2 bg-[#F50000] right-line w-5/12 md:w-10/12"></div>
  </div>
</div>

<!-- Desktop Menu Items -->
<div class="hidden md:block">
  <ul class="fixed z-40 flex justify-end top-16 about-line-position text-4xl gap-20 w-.75 font-sans text-[#D9D9D9] font-bold">
    <li>
      <a href="#">
        ABOUT
      </a>
    </li>
    <li>
      <a href="#">
        CONTACT
      </a>
    </li>
    <li>
      <a href="#">
        FAQ
      </a>
    </li>
  </ul>
</div>

<!--HOME Mobile-->
<div class="block md:hidden">
    <!--Hamburger Menu-->
  <button (click)="toggleNavVisibility()"><img class="fixed top-9 right-3 w-8 z-30" src="./assets/hamburger.png" alt="Hamburger Menu Button"></button>
<!-- NAVIGATION MENU -->

  <!-- Navbar Control-->
  <div [class.translate-x-full]="!isNavMenuOn" [class.translate-x-0]="isNavMenuOn" class="z-30 fixed mt-0 top-0 right-0 w-2/5 h-full bg-blue-950 text-white duration-300">

    <!--Menu Items-->
    <ul class="flex flex-col justify-left text-2xl ml-2 gap-3 w-.75 font-sans text-[#3E5582] font-bold">

      <!--How Can We Help You?-->
      <li class="mt-5 text-white font-normal">
        <div class="text-sm inline pr-9">HOW CAN</div>
        <button (click)="toggleNavVisibility()" ><img class="absolute top-8 right-2 w-8" src="./assets/close.png" alt="Close Window Button"></button>
        <div class="text-sm">WE HELP?</div>
      </li>
      <!--About / Contact / FAQ-->
      <li>
        <a href="#">
          ABOUT
        </a>
      </li>
      <li>
        <a href="#">
          CONTACT
        </a>
      </li>
      <li>
        <a href="#">
          FAQ
        </a>
      </li>
    </ul>
  </div>
</div>
