<div class="grid grid-rows-3 grid-cols-5 pl-1 h-screen pt-48 mr-3 gap-0">
  <div class="bg-[#D9D9D9] h-3/4 w-4/5 ml-6 col-start-1 col-span-3 flex items-start">
    <img class="w-full h-full object-cover" src="./assets/roofImages/roof.jpg" alt="Item 1 Image">
  </div>
  <div class="col-start-4 col-span-2 text-3xl flex flex-col gap-2 font-semibold pl-5 text-right pt-60 mr-5 items-center">
    <div>We care</div>
    <div>about</div>
    <div>our</div>
    <div>customers.</div>
  </div>
  <div class="bg-[#D9D9D9] h-3/4 w-4/5 col-start-1 col-span-3 ml-6 flex items-start">
    <img class="w-full h-full object-cover" src="./assets/fenceImages/fence.jpg" alt="Item 3 Image">
  </div>
  <div class="bg-[#D9D9D9] h-3/4 w-4/5 col-start-1 col-span-3 ml-6 flex items-start">
    <img class="w-full h-full object-cover" src="./assets/item4.jpg" alt="Item 4 Image">
  </div>
</div>
