<!--<div class="bg-[#CA0000] bottom-0 xl:mt-72 w-screen text-white font-sans text-2xl absolute">
  <p class="ml-20">We had such a great experience working with AJ. He was very professional and finished our project promptly.</p>
  <p class="ml-40">- Nikki Crane</p>
</div>-->

<div class="bg-[#CA0000] mt-28 bottom-0 review-size  text-white font-sans text-2xl">
  <p class="">We had such a great experience working with AJ. He was very professional and finished our project promptly.</p>
  <p class="">- Nikki Crane</p>
</div>

